body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.containerpers {
  max-width: 94%;
  margin: 0 auto;
  padding: 20px;
}

.cardpers {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.profile-picture {
  width: 150px;
  height: 150px;
  overflow: hidden;

  /* margin-right: 20px; */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  object-fit: cover;
}
.picture {
  flex: 3;
  /* margin-left: 20px; */
}
.content {
  flex: 5;
}

.uploadpost {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 24px;
  margin: 0;
}

.username {
  font-size: 18px;
  color: #777;
  margin: 10px 0;
}

.tagline,
.description {
  color: #555;
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f30d19;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #df0a15;
}





/* ******************************************** */
.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.cards {
  padding-top: 13vh;
  margin: auto;
  columns: 4;
  column-gap: 10px;
}
.cards .card {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.cards .card img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px 10px 0px 0px;
}


/* ********************************************************** */


.modals {
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 100px 48px -60px rgba(0, 0, 0, 0.1);
  color: #0f0e0e;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  padding: 1.5rem;
  margin: auto;
}
.content{
  width: 50%;
  margin: auto;
}

.title {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.message {
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.upload-btn {
  background-color: transparent;
  border: 0.125rem dashed hsla(223, 10%, 50%, 0.4);
  flex: 1;
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn.dragover {
  background-color: hsla(223, 10%, 60%, 0.2);
}

.result {
  margin-top: 4px;
  background-color: rgba(0, 140, 255, 0.062);
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 1em; */
  padding: 0.5rem;
  width: 100%;
}

.file-uploaded {
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  height: 250px;
  padding: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
}

input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.imgcont {
  width: 300px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.result img {
  width: inherit;
  height: 90%;
  object-fit: contain;
  border-radius: 15px;
}

#imgname{
  font-size: 12px;
}